* {
   margin: 0px;
   padding: 0px;
   box-sizing:border-box; 

}

h1 {
    margin: 10px;
    color:#ffffff;
    font-size: 45px;
    margin:20px;
    margin-left: 30px;
}

body {
    font-family: sans-serif;
    background-color: rgb(33, 33, 33);
}

hr {
    border-color:#303030;
    display: flex;
    justify-content: center;
    margin: 0px 1% 0px 1%
}

.top-page h2 {
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    margin: 30px;
    color:#ffffff;
    margin-top: 30px;
    max-width: 600px;
}

.top-page div div {
    margin: 30px;
    margin-top: 50px;
    display:flex;

}
.top-page {
    display:flex;
    

}

@media screen and (max-width:700px) {
    .top-page img {
        display:none;
    }
}

.top-page img {
    
    margin: 20px 0px 0px 500px;
    max-width:500px;
    align-items:flex-end;
    flex-wrap: wrap;

}

nav, nav ul, nav li, nav, nav li a {
    background-color:#ffffff;  
    
    
}

li a img {
    max-width: 100px;
    padding-left: 10px;
    padding-top: 5px;
}       

nav li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px;

}

nav li a:hover {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content:flex-start;
}

div a{
    background-color: #ffffff;
}

.review section {
    display:flex;
}

.reviews article {
    padding: 10px 20px;
    margin: 10px 20px 50px 20px ;
    background-color:#311b1b ;
    border-radius: 10px;
    max-width: 300px;
    color:white;
}

.reviews p {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.reviews div hr {
    border-color:#313131;
    display: flex;
    justify-content: center;
    margin: 0;
}

.laatste-afleveringen {
    margin-bottom: 30px;
}

.laatste-afleveringen div p {
    max-width:400px;
    
}
div h2 {
    margin: 30px 0px 10px 30px;
    display:flex;
    justify-content: flex-start;
    color:#ffffff
}

section {
    display: flex;
}

section p {
    flex-wrap: wrap;
    color: white;
    
}

section img {
    flex-wrap: wrap;
    padding: 20px;
    max-width:200px;
}

h3 {
    flex-wrap: wrap;
    color: white;
}

section div {
    padding-top: 25px;
}

section div h3 {
    padding-bottom: 20px;
}

footer ul a  {
    display: flex;
    flex-wrap:wrap;
    text-decoration: none;
    color:#000000;
}

footer ul img {
    max-width: 25px;
    padding: 3px;
}

footer p:focus {
    font-weight:bold;
}

footer {
    background-color:white;
    border-radius: 10px 10px 0px 0px;
    padding: 50px 40px;
}

footer ul {
    list-style-type:none ;
    
}


